__pycache__
*.pyc
*.pyd
*.egg-info
.venv
extension/*
extension
changes.txt
plan.md
src/_version.py

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
*.gcda

# Runtime
runtime/vm
runtime/target

# Output files
*.bc
*.bin
*.wasm
*.o
a.fr
